@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('/src/assets/fonts/AvenirNext-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #26262B;
}

@layer base {
  body {
    @apply font-sans;
  }
}
